.Header {
    background-color: #1abc9c;
    height: 6rem;
    width: 100%;
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.Header-title {
    font-style: italic;
    line-height: 6rem;
    margin-left: 6rem;
    float: left;
}

.Header-title > a {
    color:white;
}

.Header-links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1rem;
    width: 6rem;
    float: right;
    margin-right: 6rem;
}

.Header-links > a {
    color: white;
    text-decoration: none;
    display: block;
    margin-right: 1rem;
    float: left;
}

.active-Link {
    color: #222222 !important;
}

.Header-collapse {
    height: 2rem;
    animation: Collapse 0.5s;
}

.Title-collapse {
    line-height: 2rem;
    animation:titleCollapse 0.5s;
}

@keyframes titleCollapse {
    from {
        line-height: 6rem;
    }
    to {
        line-height: 2rem;
    }
}

.Title-display {
    animation : titleDisplay 0.5s;
    line-height: 6rem;
}

@keyframes titleDisplay {
    from {
        line-height: 2rem;
    }
    to {
        line-height: 6rem;
    }
}

.Header-display {
    animation: Display 0.5s;
    height: 6rem;
}

@keyframes Collapse {
    from {
        height: 6rem;
    }
    to {
        height: 2rem;
    }
}

@keyframes  Display {
    from {
        height: 2rem;
    }
    to {
        height: 6rem;
    }
}