.EntireBlog {
    width: 80%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    position: relative;
    left: 10%;
    font-family: sans-serif;
}

@media screen and (max-width: 600px) {
    .EntireBlog {
        width: 100%;
        left: 0;
    }
}

.EntireBlog-body {
    box-sizing: border-box;
    padding: 1rem 0;
}

.EntireBlog-body > p {
    margin-top: 0;
    margin-bottom: 16px;
}

.EntireBlog-body > pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.EntireBlog-body > code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.EntireBlog-body  > a {
    text-decoration: none;
}

.EntireBlog-body > ul {
    padding-left: 2em;
}

.EntireBlog-body > h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.EntireBlog-body > h1, h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

.EntireBlog-body > h3 {
    font-size: 1.25rem;
}

.EntireBlog-body > p > img {
    width: 60%;
    position: relative;
    left: 20%;
    margin: 2rem;
}

.Blog-label, .Blog-time {
    font-size: 0.5rem;
    font-family: '微软雅黑';
    color: #c3c3c3;
    margin-left: 1rem;
}

.Blog-head {
    text-align: right;
}

.EntireBlog-title {
    text-align: left !important;
}