.WriteComment {
    box-sizing: border-box;
    padding: 2rem;
    border-top:1px solid #eaecef;
    border-bottom: 1px solid #eaecef;
}
.input {
    border: 1px solid #f3f3f3;
}
.textarea {
    border: 1px solid #f3f3f3;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 8rem;
    resize: none;
    margin: 1rem 0;
}
.button {
    border-radius: 2px;
    border: none;
    background-color: blueviolet;
    color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
.button:active {
    background-color: blueviolet;
}