* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}

body {
  background-color: #1abc9c
}
.App {
  text-align: left;
  box-sizing: border-box;
  padding-top: 6rem;
}

a {
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}